body { margin: 0; overflow: hidden; background: #222; font-family: sans-serif; color: white; user-select: none; touch-action: none; }
.screen { position: absolute; width: 100%; height: 100%; z-index: 100; background: #333; display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 15px; }
.title { color: #4CAF50; text-shadow: 2px 2px #000; }
button { padding: 12px; background: #555; border: 2px solid #fff; color: white; font-weight: bold; cursor: pointer; }
input { width: 230px; padding: 12px; background: #111; border: 1px solid #777; color: #fff; margin-bottom: 5px; }

#ui-game { position: absolute; width: 100%; height: 100%; pointer-events: none; z-index: 10; }
#crosshair { position: absolute; top: 40%; left: 50%; transform: translate(-50%,-50%); color: white; font-size: 20px; }
.btn-top-menu { position: absolute; top: 10px; left: 50%; transform: translateX(-50%); width: 80px; padding: 5px; font-size: 10px; background: rgba(0,0,0,0.5); pointer-events: auto; }

#joystick-container { position: absolute; bottom: 120px; left: 50%; transform: translateX(-140%); width: 100px; height: 100px; pointer-events: auto; }
#action-buttons { position: absolute; bottom: 120px; left: 50%; transform: translateX(40%); display: flex; flex-direction: column; gap: 10px; pointer-events: auto; }
.action-btn { width: 60px; height: 60px; border-radius: 50%; background: rgba(0,0,0,0.5); border: 1px solid #fff; color: white; font-size: 10px; }

#hotbar { position: absolute; bottom: 15px; left: 50%; transform: translateX(-50%); display: flex; background: rgba(0,0,0,0.8); padding: 5px; gap: 4px; pointer-events: auto; border: 1px solid #555; width: 90%; justify-content: center; }
.slot { width: 50px; height: 50px; background: #8b8b8b; border: 2px solid #373737; display: flex; align-items: center; justify-content: center; position: relative; }
.slot.active { border-color: #fff; background: #aaa; }
.preview { width: 24px; height: 24px; }
.preview.grass { background: #5d9948; }
.preview.dirt { background: #8b4513; }
.preview.stone { background: #808080; }
.preview.wood { background: #6b411a; }
.count { position: absolute; bottom: 1px; right: 2px; font-size: 11px; text-shadow: 1px 1px #000; }